//Main layout margin
%main-layout-margin{
    margin-left: 20px;
    margin-right: 20px;
}

//HEADER-FOOTER => nav & logo margin / logo & p margin
%layout-margin{
    margin: 15px;
}

//banner background shade
%banner-bg-shade{
filter: brightness(60%);
}

%banner-margin-radius-overflow{
    margin-top: 16px;
    border-radius: 10px;
    overflow: hidden;
}