.Slideshow{
    &__container{
        margin-top: 30px;
        margin-bottom: 15px;
        border-radius: 10px;
        overflow: hidden;
        position: relative;
        height: 255px;
        width: 100%;
        @include tablet{
            height: 315px;
        }
        @include desktop{
            height: 415px;
        }
    }
    &__img{
        @include card-img;
        height: 100%;
    }
    &__left-btn{
        @extend %slider-btn-bg;
        @extend %position-abs-top50;
        @include tablet{
            top: 45%;
            margin-left: 15px;
        }
    }
    &__right-btn{
        @extend %slider-btn-bg;
        @extend %position-abs-top50;
        right: 0;
        @include tablet{
            top: 45%;
            margin-right: 15px;
        }
    }
    &__bullets{
        position: absolute;
        right: 50%;
        bottom: 6.01%;
        color: $contrast-txt-color;
        @extend %medium-size-text;
    }
}

//ARROW STYLE
.fa-angle-right, .fa-angle-left{
    color: $contrast-txt-color;
    font-size: clamp(0.9375rem, 0.3849rem + 3.1579vw, 1.125rem);
    @include tablet{
        font-size: clamp(3.125rem, 0.9821rem + 4.4643vw, 5rem);
    }
}