.Slideshow{
    &__container{
        margin-top: 30px;
        border-radius: 10px;
        background-color: aqua;
        overflow: hidden;
        position: relative;
        height: 255px;
        width: 100%;

    }
    &__img{
        background-color: blueviolet;
        @include card-img;
    }
    &__left-btn{
        @extend %slider-btn-bg;
        @extend %position-abs-top50;
    }
    &__right-btn{
        @extend %slider-btn-bg;
        @extend %position-abs-top50;
        right: 0;
    }
    // &__bullets{

    // }
}

//ARROW STYLE
.fa-angle-right, .fa-angle-left{
    color: $contrast-txt-color;
    font-size: clamp(0.9375rem, 0.3849rem + 3.1579vw, 1.125rem);
}