// HOMEPAGE
.header-banner{
    height: 111px;
    width: 100%;
    @include flexbox();
    @extend %banner-margin-radius-overflow;
    @include tablet{
        height: 223px;
        margin-bottom: 43px;
    }
    @include desktop{
        height: 223px;
        margin-top: 60px;
    }
    &__picture-container{
        width: 100%;
        @include flexbox();
    }
    &__img{
        border-radius: 10px;
        object-fit: cover;
        width: 100%;
        @extend %banner-bg-shade;
        @media screen and (max-width:375px){
        height: 111px;
    }
        @include desktop{
        height: 223px;
    }
    }
    &--text{
        position: absolute;
        font-size: clamp(1.5rem, 0.9718rem + 2.2535vw, 3rem);
        font-weight: 500;
        left: 18px;
        color: $contrast-txt-color;
        @include desktop{
            left: unset;
        }
    }
    &--text-br{
        @include desktop{
            display: none;
        }
    }
}


//ABOUT
.about-banner{
    margin-bottom: 10px;
    height: 223px;
    @include flexbox();
    @extend %banner-margin-radius-overflow;
    @include desktop{
        height: 223px;
        margin-top: 40px;
    }
    &__img{
        border-radius: 10px;
        width: 100%;
        @extend %banner-bg-shade;
    }
}