// HOMEPAGE
.header-banner{
    height: 111px;
    @include flexbox();
    @extend %banner-margin-radius-overflow;
    @extend %main-layout-margin;
    &__img{
        height: 111px;
        object-fit: cover;
        width: 100%;
        @extend %banner-bg-shade;
    }
    &--text{
        position: absolute;
        font-size: clamp(1.5rem, 0.9718rem + 2.2535vw, 3rem);
        font-weight: 500;
        left: 36px;
        color: $contrast-txt-color;
    }
}


//ABOUT
.about-banner{
    height: 223px;
    @include flexbox();
    @extend %banner-margin-radius-overflow;
    @extend %main-layout-margin;
    &__img{
        width: 100%;
        @extend %banner-bg-shade;
    }
}