.header{
    @extend %main-layout-margin;
    @include flexbox($justify:space-between);
    margin-top: 20px;
    @include desktop{
        margin-left: 100px;
        margin-right: 100px;
    }
    &__logo-container{
        width: 145px;
        height: 47px;
    }
    &__nav{
        @include flexbox;
        gap: 10px;
    }
    &__nav-link{
        @extend %medium-size-text;
        font-weight: 500;
        color: $main-color;
        &.active{
            text-decoration-line: underline;
        }
    }
}