.header{
    @extend %main-layout-margin;
    @include flexbox($justify:space-between);
    margin-top: 20px;
    @include tablet{
        margin-left: 50px;
        margin-right: 50px;
    }
    @include desktop{
        margin-top: 40px;
        margin-left: 100px;
        margin-right: 100px;
    }
    &__logo-container{
        display: block;
        width: 145px;
        height: 47px;
        @include tablet{
            width: 210px;
            height: 68px;
        }
    }
    &__nav{
        @include flexbox;
        gap: 10px;
        @include tablet{
            gap: 57px;
        }
    }
    &__nav-link{
        @extend %medium-size-text;
        font-weight: 500;
        color: $main-color;
        &.active{
            text-decoration-line: underline;
        }
    }
}