// ALL PAGES LAYOUT
//Main setup
body{
    margin-left: auto;
    margin-right: auto;
    font-family: $base-font-family;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}


.section-container{
    @include flexbox($direction: column, $justify: unset);
    min-height: calc(100vh - 256px);
    margin-top: 5px;
    margin-bottom: 20px;
    position: relative;
    @extend %main-layout-margin;
}

// ABOUT page layout
.about-main{
    width: 100%;
    margin-top: 15px;
}